<%- include('../partials/header'); %>

<div class="row">
  <%- include('../partials/sidenav'); %>
  <div class="newAssociation content">
    <h4>Ajouter une association</h4>
    <div class="row white">
      <form class="col s12 formValidate" id="formValidate" method="post" action="<%= endpoint %>">
          <div class="input-field col s12">
            <label for="name">Nom *</label>
            <input class="validate" type="text" placeholder="La croix rouge" id="name" name="name" value="<%= association.name %>" data-error=".errorName">
            <div class="errorName"></div>
          </div>

          <div class="input-field col s6">
            <label for="adresse">Adresse *</label>
            <input class="validate" type="text" id="adresse" placeholder="3 rue des mauvais garcons" name="adresse" value="<%= association.adresse %>" data-error=".errorAdress">
            <div class="errorAdress"></div>
          </div>

          <div class="input-field col s6">
            <label for="adresse">Complément d'adresse</label>
            <input class="validate" type="text" placeholder="" name="complement_adresse" value="<%= association.complement_adresse %>" >
            <div class="errorAdress"></div>
          </div>


          <div class="input-field col s6">
            <label for="code_postal">Code Postal *</label>
            <input class="validate" type="number" id="code_postal" placeholder="75004" name="code_postal" value="<%= association.code_postal %>" data-error=".errorZip">
            <div class="errorZip"></div>
          </div>

          <div class="input-field col s6">
            <label for="ville">Ville *</label>
            <input class="validate" type="text" id="ville" placeholder="Paris" name="ville" value="<%= association.ville %>" data-error=".errorVille">
            <div class="errorVille"></div>
          </div>

          <div class="input-field col s6">
            <label for="pays">Pays *</label>
            <input class="validate" type="text" id="pays" placeholder="France" name="pays" value="<%= association.pays %>" data-error=".errorPays">
            <div class="errorPays"></div>
          </div>

          <div class="input-field col s12">
            <label for="description">Description *</label>
            <textarea id="description" name="description" placeholder="Fondée en 1864, La Croix-Rouge française est une association loi 1901, reconnue d'utilité publique depuis 1945. La Croix-Rouge française est engagée dans une économie sociale de services à but non lucratif." class="materialize-textarea validate" data-error=".errorDescription"><%= association.description %></textarea>
            <div class="errorDescription"></div>
          </div>

          <div class="input-field col s6">
            <label for="finess">Numéro FINESS</label>
            <input class="validate" type="text" placeholder="750721334" id="finess" name="finess" value="<%= association.finess %>">
          </div>


          <div class="input-field col s12">
            <p>Sélectionnez la forme juridique de votre association</p>
            <select class="js-example-basic-single col s12" name="statut">
              <option value="Aucun(e)">Aucun(e)</option>
              <option value="Association de Droit Local">Association de Droit Local</option>
              <option value="Association Loi 1901 non Reconnue d'Utilité Publique">Association Loi 1901 non Reconnue d'Utilité Publique</option>
              <option value="Assurance Mutuelle Agricole">Assurance Mutuelle Agricole</option>
              <option value="Autre Collectivité Territoriale">Autre Collectivité Territoriale</option>
              <option value="Autre Etablissement Public à Caractère Administratif">Autre Etablissement Public à Caractère Administratif</option>
              <option value="Autre Organisme Mutualiste">Autre Organisme Mutualiste</option>
              <option value="Autre Organisme Privé à But non Lucratif">Autre Organisme Privé à But non Lucratif</option>
              <option value="Autre Organisme Privé à Caractère Commercial">Autre Organisme Privé à Caractère Commercial</option>
              <option value="Autre Régime de Prévoyance Sociale">Autre Régime de Prévoyance Sociale</option>
              <option value="Autre Société">Autre Société</option>
              <option value="Caisse des Ecoles">Caisse des Ecoles</option>
              <option value="Centre Communal d'Action Sociale">Centre Communal d'Action Sociale</option>
              <option value="Comité d'Entreprise ou Comité d'Etablissement">Comité d'Entreprise ou Comité d'Etablissement</option>
              <option value="Commune">Commune</option>
              <option value="Congrégation">Congrégation</option>
              <option value="Département">Département</option>
              <option value="Entreprise Unipersonnelle Responsabilité Limitée (E.U.R.L.)">Entreprise Unipersonnelle Responsabilité Limitée (E.U.R.L.)</option>
              <option value="Etablissement Public à Caractère Industriel ou Commercial">Etablissement Public à Caractère Industriel ou Commercial</option>
              <option value="Etablissement Public Communal d'Hospitalisation">Etablissement Public Communal d'Hospitalisation</option>
              <option value="Etablissement Public Départemental d'Hospitalisation">Etablissement Public Départemental d'Hospitalisation</option>
              <option value="Etablissement Public Intercommunal d'Hospitalisation">Etablissement Public Intercommunal d'Hospitalisation</option>
              <option value="Etablissement Public Interdépartemental d'Hospitalisation">Etablissement Public Interdépartemental d'Hospitalisation</option>
              <option value="Etablissement Public National d'Hospitalisation">Etablissement Public National d'Hospitalisation</option>
              <option value="Etablissement Public Régional d'Hospitalisation">Etablissement Public Régional d'Hospitalisation</option>
              <option value="Etablissement Social et Médico-Social Communal">Etablissement Social et Médico-Social Communal</option>
              <option value="Etablissement Social et Médico-Social Départemental">Etablissement Social et Médico-Social Départemental</option>
              <option value="Etablissement Social et Médico-Social Intercommunal">Etablissement Social et Médico-Social Intercommunal</option>
              <option value="Etablissement Social et Médico-Social Interdépartemental">Etablissement Social et Médico-Social Interdépartemental</option>
              <option value="Etablissement Social et Médico-Social National">Etablissement Social et Médico-Social National</option>
              <option value="Etablissement Social et Médico-Social Régional">Etablissement Social et Médico-Social Régional</option>
              <option value="Etat">Etat</option>
              <option value="Fondation">Fondation</option>
              <option value="Groupement d'Intérêt Economique (G.I.E.)">Groupement d'Intérêt Economique (G.I.E.)</option>
              <option value="Groupement d'Intérêt Public (G.I.P.)">Groupement d'Intérêt Public (G.I.P.)</option>
              <option value="Groupement de Coopération Sanitaire Privé">Groupement de Coopération Sanitaire Privé</option>
              <option value="Groupement de Coopération Sanitaire public">Groupement de Coopération Sanitaire public</option>
              <option value="Groupement de Coopération Sociale ou Médico-Sociale privé">Groupement de Coopération Sociale ou Médico-Sociale privé</option>
              <option value="Groupement de Coopération Sociale ou Médico-Sociale public">Groupement de Coopération Sociale ou Médico-Sociale public</option>
              <option value="Institution de Prévoyance">Institution de Prévoyance</option>
              <option value="Mutualité Sociale Agricole (M.S.A.)">Mutualité Sociale Agricole (M.S.A.)</option>
              <option value="Office Public d'H.L.M.">Office Public d'H.L.M.</option>
              <option value="Personne Physique">Personne Physique</option>
              <option value="Régime Général de Sécurité Sociale">Régime Général de Sécurité Sociale</option>
              <option value="Régime Maladie des non Salariés non Agricole">Régime Maladie des non Salariés non Agricole</option>
              <option value="Régime Spécial de Sécurité Sociale">Régime Spécial de Sécurité Sociale</option>
              <option value="Régime Vieillesse Particulier">Régime Vieillesse Particulier</option>
              <option value="Région">Région</option>
              <option value="Soc. Exercice Libéral Responsabilité Limitée (S.E.L.A.R.L.)">Soc. Exercice Libéral Responsabilité Limitée (S.E.L.A.R.L.)</option>
              <option value="Société A Responsabilité Limitée (S.A.R.L.)"></option>
              <option value="Société Anonyme (S.A.)">Société Anonyme (S.A.)</option>
              <option value="Société Civile">Société Civile</option>
              <option value="Société Civile de Moyens (S.C.M.)">Société Civile de Moyens (S.C.M.)</option>
              <option value="Société Civile Professionnelle (S.C.P.)">Société Civile Professionnelle (S.C.P.)</option>
              <option value="Société d'Exercice Libéral à Forme Anonyme (S.E.L.A.F.A.)">Société d'Exercice Libéral à Forme Anonyme (S.E.L.A.F.A.)</option>
              <option value="Société en Nom Collectif (S.N.C.)">Société en Nom Collectif (S.N.C.)</option>
              <option value="Société Exercice Libéral Commandite par Actions (S.E.L.C.A.)">Société Exercice Libéral Commandite par Actions (S.E.L.C.A.)</option>
              <option value="Société Exercice Libéral par Actions Simplifiée (S.E.L.A.S.)">Société Exercice Libéral par Actions Simplifiée (S.E.L.A.S.)</option>
              <option value="Société Interprofessionnelle Soins Ambulatoires (S.I.S.A.)">Société Interprofessionnelle Soins Ambulatoires (S.I.S.A.)</option>
              <option value="Société Mutualiste">Société Mutualiste</option>
              <option value="Société par Actions Simplifiée (S.A.S.)">Société par Actions Simplifiée (S.A.S.)</option>
              <option value="Syndicat">Syndicat</option>
              <option value="Syndicat de Propriétaires">Syndicat de Propriétaires</option>
              <option value="Syndicat Inter Hospitalier">Syndicat Inter Hospitalier</option>
          </select>
          </div>


          <div class="input-field col s6">
            <label for="telephone">Téléphone</label>
            <input class="validate" type="text" id="telephone" placeholder="0157926892" name="telephone" value="<%= association.telephone %>">
          </div>

          <div class="input-field col s12">
            <label for="contact">Email</label>
            <input class="validate" type="email" placeholder="contact@lacroixrouge.fr" id="contact" name="contact" value="<%= association.contact %>">
          </div>

          <div class="input-field col s12">
            <label for="date_creation">Date de création</label>
            <input type="text" class="datepicker" name="date_creation" value="<%=association.date_creation%>">
          </div>
          <div class="input-field col s6">
            <label for="site">Site internet</label>
            <input class="validate" placeholder="http://www.lacroixrouge.fr" type="text" id="site" name="site" value="<%= association.site %>">
          </div>
    
          <div class="input-field col s6">
            <label for="facebook">Facebook</label>
            <input class="validate" placeholder="https://www.facebook.com/fr.CroixRouge/" type="text" id="facebook" name="facebook" value="<%= association.facebook %>">
          </div>

          <div class="input-field col s6">
            <label for="twitter">Twitter</label>
            <input class="validate" placeholder="https://twitter.com/CRF53_LAVAL" type="text" id="twitter" name="twitter" value="<%= association.twitter %>">
          </div>

          <div class="input-field col s6">
            <label for="instagram">Instagram</label>
            <input class="validate" placeholder="https://www.instagram.com/croixrougefr/?hl=fr" type="text" id="instagram" name="instagram" value="<%= association.instagram %>">
          </div>
          <div class="input-field col s6">
            <label for="linkedin">linkedin</label>
            <input class="validate" placeholder="https://fr.linkedin.com/company/croix-rouge-fran-aise" type="text" id="linkedin" name="linkedin" value="<%= association.linkedin %>">
          </div>


          <div class="col s12 hide">
            <p>Association supprimé ?</p>
            <input type="radio" id="is_not_archive" name="is_archive" class="validate" value="false" checked >
            <label for="is_not_archive">Non</label>
          </div>

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light blue" type="submit"  value="Enregistrer" name="action">Ajouter l'association
              <i class="material-icons right">send</i>
            </button>
          </div>


      </form>
    </div>

  </div>
</div>

<%- include('../partials/footer'); %>



<script type="text/javascript">


  $(document).ready(function() {
    $('select').material_select();
  });

  $("#formValidate").validate({
   rules: {
       name: {
           required: true,
           minlength: 3
       },
       adresse: {
           required: true,
           minlength: 5
       },
       code_postal: {
         required: true,
         minlength: 5
       },
       ville: {
         required: true,
       },
       pays: {
         required: true,
        },
        description: {
          required: true,
          minlength:10
        },
   },
   //For custom messages
   messages: {
       name:{
           required: "Vous devez saisir le nom de votre association",
           minlength: "Le nom de votre association doit comporter au minimum 3 caractères"
       },
       adresse:{
           required: "Vous devez saisir l'adresse de votre association",
       },
       code_postal:{
           required: "Saisissez le code postal de votre association",
       },
       ville:{
           required: "Saisissez la ville de votre association",
       },
       pays:{
           required: "Saisissez le pays de votre association",
       },
       description:{
           required: "Saisissez une description de votre association",
           minlength: "La description de votre association doit comporter au minimum 10 caractères"
       },
   },
   errorElement : 'div',
   errorPlacement: function(error, element) {
     var placement = $(element).data('error');
     if (placement) {
       $(placement).append(error)
     } else {
       error.insertAfter(element);
     }
   }
});
</script>
