<%- include('../partials/header'); %>
<div class="row">
  <%- include('../partials/sidenav'); %>
  <div class="users content">
    <div class="showAssociations__header">
      <h2>Gestion des membres</h4>
        <div class="showAssociations__header--right">
          <a href="/users/archives/1"><i data-feather="trash-2"></i>Membres archivés</a>
          <a href="/signup"><i data-feather="plus-square"></i>Ajouter un membre</a>
        </div>
    </div>
    <table class="striped">
      <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <%if(user.organizationType === "Anatomik"){%>
              <th class="hide-on-med-and-down">Association/Entreprise</th>
            <%}%>
            <th class="hide-on-med-and-down">Poste</th>
            <th>Voir</th>
            <th>Modifier</th>
            <th>Archiver</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(usr) { %>
          <tr>
            <td><%=usr.lastname%></td>
            <td><%=usr.firstname%></td>
            <%if(user.organizationType === "Anatomik"){%>
              <%if(usr.organizationType === "Association"){%>
                <td class="hide-on-med-and-down"><a href="/association/<%=usr.association.id%>"><%=usr.association.name%></a></td>
              <%}else if(usr.organizationType === "Entreprise"){%>
                <td class="hide-on-med-and-down"><a href="/entreprise/<%=usr.entreprise.id%>"><%=usr.entreprise.name%></a></td>
              <%}else{%>
                <td class="hide-on-med-and-down"><%= usr.organizationType%></td>
              <%}%>
            <%}%>
            <td class="hide-on-med-and-down"><%= usr.poste %></td>
            <td><a href="/profile/<%=usr.id%>">Voir</a></td>
            <td><a href="/profile/edit/<%=usr.id%>">Modifier</a></td>
            <td><a class="modal-trigger" href="#modal<%=usr.id%>">Archiver</a></td>
          </tr>

          <!-- Modal Structure -->
          <div id="modal<%=usr.id%>" class="modal">
            <div class="modal-content">
              <h4>Supprimer ?</h4>
              <p>En cliquant sur continuer, vous supprimerez le membre <%=usr.fullname%>. Etes vous sur de vouloir continuer ? </p>
            </div>
            <div class="modal-footer">
              <a href="/users/delete/<%=usr.id%>" class="modal-action modal-close waves-effect waves-green btn-flat">OUI</a>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">NON</a>
            </div>
          </div>
        <%})%>
      </tbody>
    </table>
    <div class="pagination col s12">
      <% if (pages > 0) { %>
         <ul class="pagination text-center">
             <% if (current == 1) { %>
                 <li class="disabled"><a>Première</a></li>
             <% } else { %>
                 <li><a href="/users/show/1">Première</a></li>
             <% } %>
             <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
             <% if (i !== 1) { %>
                 <li class="disabled"><a>...</a></li>
             <% } %>
             <% for (;i <= (Number(current) + 4) && i <= pages; i++) { %>
                 <% if (i == current) { %>
                     <li class="active"><a><%= i %></a></li>
                 <% } else { %>
                     <li><a href="/users/show/<%= i %>"><%= i %></a></li>
                 <% } %>
                 <% if (i == Number(current) + 4 && i < pages) { %>
                     <li class="disabled"><a>...</a></li>
                 <% } %>
             <% } %>
             <% if (current == pages) { %>
                 <li class="disabled"><a>Dernière</a></li>
             <% } else { %>
                 <li><a href="/users/show/<%= pages %>">Dernière</a></li>
             <% } %>
         </ul>
     <% } %>
   </div>
  </div>
</div>

<%- include('../partials/footer'); %>

<script type="text/javascript">
$(document).ready(function(){
// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
$('.modal').modal();
});

</script>
