<%- include('../partials/header'); %>

<%- include('../partials/sidenav'); %>

  <div class="services content">
    <div class="services__header">
      <div class="offers__header--left">
        <h1>Aide et services</h1>
      </div>
      <div class="services__header--right">
        <%if (user.organizationType === "Association"){%>
          <a href="/service/new_offre"><i data-feather="plus-square"></i>Ajouter une proposition de service</a>
          <a href="/service/new_demande"><i data-feather="plus-square"></i>Ajouter une demande de service</a>
          <a href="/my-services">Mes appels à service</a>
          <a href="/services/archives">Tous les services</a>
        <%}else if (user.organizationType === "Anatomik"){%>
          <a href="/service/new_offre"><i data-feather="plus-square"></i>Ajouter une proposition de service</a>
          <a href="/my-services">Mes offres de services</a>
          <a href="/services/">Tous les services</a>
        <%}else if (user.organizationType === "Entreprise"){%>
          <a href="/service/new_promotion"><i data-feather="plus-square"></i>Ajouter une promotion</a>
          <a href="/my-services">Mes promotions</a>
          <a href="/services/archives">Tous les services</a>
        <%}%>
        
      </div>
    </div>

    <ul id="tabs-swipe-demo" class="tabs">
      <%if (user.organizationType === "Association"){%>
        <li class="tab col s3"><a href="#test-swipe-1">Offres de service</a></li>
        <li class="tab col s3"><a href="#test-swipe-2">Demandes de service</a></li>
      <%}else if (user.organizationType === "Anatomik"){%>
        <li class="tab col s3"><a href="#test-swipe-1">Offres de service</a></li>
      <%}else if (user.organizationType === "Entreprise"){%>
        <li class="tab col s3"><a href="#test-swipe-2">Demandes de service</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Promotions d'entreprise</a></li>
      <%}%>
    </ul>

    <div class="services__collapsible ">
      <div class="services__collapsible--header">
        <ul class="row">
          <li class="col s4">Objet</li>
          <li class="col s4">Date de début</li>
          <li class="col s4">Date de fin</li>
        </ul>
      </div>
    </div>

    <%if (user.organizationType === "Association" || user.organizationType === "Anatomik"){%>
    <div id="test-swipe-1" class="col s12 ">
      <% for(var i=0; i<services.length; i++) { %>
        <%if (services[i].type == 'offre'){%>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header services__collapsible--visible row">
              <p class="col s4"><%=services[i].name%></p>
              <p class="col s4"><%=services[i].date_debut%></p>
              <p class="col s4"><%=services[i].date_fin%></p>
            </div>
            <div class="collapsible-body services__collapsible__hidden row">
              <div class="services__collapsible__hidden__left col s12 m6">
                <% if(services[i].adresse){%>
                <div class="services__collapsible__hidden__left--lieu">
                  <p>Lieu de l'offre - <span><%= services[i].adresse%></span></p>
                </div>
                <%}%>
                <div class="services__collapsible__hidden__left--description">
                  <h2>description de l'offre</h2>
                  <p><%=services[i].description%></p>
                </div>
              </div>
              <div class="services__collapsible__hidden__right--contact col s12 m3 offset-m1">
                <div class="top">
                  <%if (services[i].user.photo_profil ){%>
                    <img src="/images/uploads/<%= services[i].user.photo_profil%>" alt="photo de profil" >
                  <%}
                  else {%>
                    <img src="/images/PhotoNoProfil.png" alt="photo de profil" class="profil circle" style="background:#dadada;">
                  <%}%>
                  <div class="contact">
                    <p><%= services[i].user.poste%></p>
                  </div>
                </div>
                <p>Mail : <span><%=services[i].user.email %></span></p>
                <p>Téléphone : <span><%=services[i].telephone %></span></p>
              </div>
            </div>
          </li>
          <%}else{}%>
          <%}%>
        </ul>
    </div>
    <%}%>
    <div id="test-swipe-2" class="col s12 ">
        <% for(var i=0; i<services.length; i++) { %>
          <%if (services[i].type == 'demande'){%>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header services__collapsible--visible row">
                  <p class="col s4"><%=services[i].name%></p>
                  <p class="col s4"><%=services[i].date_debut%></p>
                  <p class="col s4"><%=services[i].date_fin%></p>
                </div>
                <div class="collapsible-body services__collapsible__hidden row">
                  <div class="services__collapsible__hidden__left col s12 m6">
                    <div class="services__collapsible__hidden__left--lieu">
                        <% if(services[i].adresse){%>
                          <div class="services__collapsible__hidden__left--lieu">
                            <p>Lieu de l'offre - <span><%= services[i].adresse%></span></p>
                          </div>
                        <%}%>
                    </div>
                    <div class="services__collapsible__hidden__left--description">
                      <h2>description de l'offre</h2>
                      <p><%=services[i].description%></p>
                    </div>
                  </div>
                  <div class="services__collapsible__hidden__right--contact col s12 m3 offset-m1">
                    <div class="top">
                      <%if (services[i].user.photo_profil ){%>
                        <img src="/images/uploads/<%= services[i].user.photo_profil%>" alt="photo de profil" >
                      <%}
                      else {%>
                        <img src="/images/PhotoNoProfil.png" alt="photo de profil" class="profil circle" style="background:#dadada;">
                      <%}%>
                      <div class="contact">
                        <p><%= services[i].user.poste%></p>
                      </div>
                    </div>
                    <p>Mail : <span><%=services[i].user.email %></span></p>
                    <p>Téléphone : <span><%=services[i].telephone %></span></p>
                  </div>
                </div>
              </li>
              <%}else{}%>
              <%}%>
    </div>

    <div id="test-swipe-3" class="col s12 ">
        <% for(var i=0; i<services.length; i++) { %>
          <%if (services[i].type == 'promotion'){%>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header services__collapsible--visible row">
                  <p class="col s2"><%=services[i].name%></p>
                  <p class="col s2"><%=services[i].date_debut%></p>
                  <p class="col s2"><%=services[i].date_fin%></p>
                </div>
                <div class="collapsible-body services__collapsible__hidden row">
                  <div class="services__collapsible__hidden__left col s12 m6">
                    <div class="services__collapsible__hidden__left--lieu">
                        <% if(services[i].adresse){%>
                          <div class="services__collapsible__hidden__left--lieu">
                            <p>Lieu de l'offre - <span><%= services[i].adresse%></span></p>
                          </div>
                        <%}%>                    
                    </div>
                    <div class="services__collapsible__hidden__left--description">
                      <h2>description de l'offre</h2>
                      <p><%=services[i].description%></p>
                    </div>
                  </div>
                  <div class="services__collapsible__hidden__right--contact col s12 m3 offset-m1">
                    <div class="top">
                      <%if (services[i].user.photo_profil ){%>
                        <img src="/images/uploads/<%= services[i].user.photo_profil%>" alt="photo de profil" >
                      <%}
                      else {%>
                        <img src="/images/PhotoNoProfil.png" alt="photo de profil" class="profil circle" style="background:#dadada;">
                      <%}%>
                      <div class="contact">
                        <p><%= services[i].user.poste%></p>
                      </div>
                    </div>
                    <p>Mail : <span><%=services[i].user.email %></span></p>
                    <p>Téléphone : <span><%=services[i].telephone %></span></p>
                  </div>
                </div>
              </li>
            </div>
            <%}else{}%>
            <%}%>
    </div>
  </div>


<%- include('../partials/footer'); %>


<script type="text/javascript">
  $(document).ready(function() {
  	$('[data-toggle="toggle"]').change(function(){
  		$(this).parents().next('.hider').toggle();
  	});
  });
</script>
