<%- include('../partials/header'); %>
    <a href="/ogp/edit/">
    </a>
    <div class="row">
      <%- include('../partials/sidenav'); %>
      <div class="singleProject content">
        <h4>Gestion de projet</h4>
        <div class="singleProject__header">
          <div class="singleProject__header__tab col s12">
            <ul>
              <li><a href="/ogp"><i data-feather="home"></i>Retour</a></li>
              <li><a href="/ogp/<%= project.id %>"><i data-feather="clipboard"></i>Tableau de bord</a></li>
              <li><a href="/ogp/edit/<%= project.id %>"><i data-feather="edit"></i>Editer</a></li>
              <li><a  class="active" href="/ogp/documents/<%= project.id %>"><i data-feather="file"></i>Gestion des documents</a></li>
            </ul>
          </div>
        </div>
        <div class="singleProject__documents col s12">
          <div class="singleProject__documents__header">
            <p><%= project.id%></p>
            <h2><%= project.name %></h2>
          </div>
          <div class="singleProject__documents__phases">
            <div id="in" class="singleProject__documents__phases__phase col s12">
              <% for(var k = 0; k < phases.length; k++) { %>
                <a href="/ogp/documents/<%= project.id %>/<%= phases[k].id %>" class="singleProject__documents__phases__phase--item">
                  <div>
                    <h2><%= phases[k].name %></h2>
                    <p><%= filesInEachPhases[k] %> fichiers attachés</p>
                  </div>
                </a>
              <% } %>
            </div>
          </div>
        <div class="singleProject__documents__racine col s12">
          <form action="/ogp/documents/<%= projectId %>" enctype="multipart/form-data"  method="post" class="col s12">

            <div class="file-field input-field col s6">
               <div class="btn">
                 <span>File</span>
                 <input type="file" name="file">
               </div>
               <div class="file-path-wrapper">
                 <input class="file-path validate" value="Ajoutez un document" type="text">
               </div>
             </div>

             <button class="btn waves-effect waves-light blue col s6" type="submit"  class="submit" type="submit" value="Enregistrer">Ajouter
               <i class="material-icons right">send</i>
             </button>
          </form>
            <h2>Documents (<%= files.length %>)</h2>
            <div class="singleProject__documents__content__all">
              <table>
                <thead>
                  <tr>
                    <th>Nom du document</th>
                    <th>Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <% files.forEach((file)=> { %>
                    <tr>
                      <td><a href="/download-file/<%= projectId %>/<%= file %>" download><%= file %></a></td>
                      <td><a class="waves-effect waves-light  modal-trigger" href="#modal<%=file %>">Supprimer</a></td>
                    </tr>

                    <!-- Modal Structure -->
                    <div id="modal<%=file %>" class="modal">
                      <div class="modal-content">
                        <h4>Supprimer ?</h4>
                        <p>En cliquant sur continuer, vous supprimerez le fichier <%=file%>. Etes vous sur de vouloir continuer ? </p>
                      </div>
                      <div class="modal-footer">
                        <a href="/ogp/delete-file/<%= project.id%>/<%= file %>" class="modal-action modal-close waves-effect waves-green">OUI</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green ">NON</a>
                      </div>
                    </div>
                  <% }) %>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>


    <script type="text/javascript">
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    });

    </script>
